<nav class="nav">
    <div class="nav-wrapper">
        <ul>
            <li class="active-link">
                <a href="/">Home</a>
            </li>
            <li><a href="">Contact</a></li>
            <li><a href="create.html">Create</a></li>
            <% if (!locals.user) { %>
                <li><a href="/login">Login</a></li>
                <% } %>
        </ul>
        <img class="logo" src="/images/cardiogram.png" alt="icon" />
        <div class="profile-wrapper">
            <% if (locals.user) { %>
                <h3 class="username">
                    <%= user.username %>
                </h3>
                <div class="profile-image-wrapper">
                    <img id="profile-image" src="/images/profile_icon.jpg" />
                    <div class="profile-dropdown">
                        <div class="triangle"></div>
                        <ul class="dropdown">
                            <li class='dropdown__item dropdown__item-active'><a href="">my profile</a></li>
                            <li class='dropdown__item'><a href="">notifcations</a></li>
                            <li class='dropdown__item'><a href="/logout">logout</a></li>
                        </ul>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
</nav>