<nav class="nav">
    <div class="nav-wrapper">
        <ul>
            <li class="active-link">
                <a href="/">Home</a>
            </li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="create.html">Create</a></li>
        </ul>
        <img src="/images/cardiogram.png" alt="icon" />
        <div id="block"></div>
    </div>
</nav>