<!--                 <% result.forEach(post=> { %>
                <div id="new-mark">new</div>
                <div class="text-block">March 1, 2019</div>
                <h1 id="first-heading">
                    <%= result.heading %>
                </h1>
                <h4>By <span class="bold">
                        <%= result.author %>
                    </span></h4>
                <p>
                    <%= result.content %>
                </p>
                <% }) %> -->