@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
html {
	box-sizing: border-box;
}
body {
	background-color: #fffff6;
	font-family: Inter, sans-serif;
}
:root {
	--text-color: red;
	--bg: #fffff6;
	--accent: #fa7124;
	--section-padding: 30px;
}

/* GLobal CLass Values */
.container {
	display: block;
	max-width: 650px;
	margin: 0 auto;
}
.container-wide {
	max-width: 1140px;
}
.large-heading {
	font-size: 40px;
}
.center-text {
	text-align: center;
}
a {
	text-decoration: none;
	color: black;
}
.text-block {
	font-size: 20px;
	display: inline;
	font-weight: 900;
	text-transform: uppercase;
}
h1,
.title-heading {
	font-size: 60px;
	text-transform: capitalize;
	margin: 30px 0px;
}
h2 {
	font-size: 32px;
	font-weight: 800px;
	margin: 20px 0px;
	text-transform: capitalize;
}
h4 {
	font-weight: 400;
	font-size: 20px;
	margin: 0;
}
p {
	font-size: 24px;
	font-weight: 400;
}

/* Post Related */
.post-link {
	display: block;
	height: 100%;
	transition: 250ms opacity;
}
.post-link:hover {
	opacity: 0.6;
}
/* Nav Section CSS */
nav {
	margin: var(--section-padding) 0;
	margin-bottom: 7em;
}
.nav-wrapper {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.nav ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	/* flex-grow: 1; */
}
.nav-wrapper .active-link {
	background-color: black;
	border-radius: 10px;
	padding: 10px;
	margin-right: 10px;
}
.active-link > a {
	color: var(--bg);
	text-align: center;
}
.nav-wrapper > ul > li {
	display: inline;
	padding-right: 20px;
	font-weight: 800;
	font-size: 18px;
	transition: 250ms opacity;
}
.nav li:hover {
	animation-delay: 300ms;
	opacity: 60%;
}

.logo {
	max-width: 50px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.profile-wrapper {
	position: relative;
	display: flex;
	align-items: center;
}
#profile-image {
	width: 45px;
	height: 45px;
	background-color: black;
	border-radius: 100%;
}
/* Navbar Dropdown */
.profile-dropdown {
	background-color: #221e1f;
	/* Explict height must be set to avoid animation breaking during spamming. */
	height: auto;
	position: absolute;
	display: none;
	right: 0;
	padding: 20px 0px;
	padding-right: 50px;
	border-radius: 5px;
}
.profile-image-wrapper {
	/* border-radius: 100%; */
	position: relative;
	margin-left: 15px;
}
.dropdown__item {
	color: white;
	padding: 12.5px 0px;
	text-transform: capitalize;
	list-style-type: none;
}
.dropdown__item-active {
	border-left: 2.5px solid rgb(15, 222, 230);
}
.dropdown__item a {
	color: white;
	text-decoration: none;
	margin-left: 15px;
}
/* Heading blog post section */
.heading-wrapper {
	margin: 100px 0px;
}
.first {
	margin-bottom: 100px;
}
.title-image {
	max-width: 500px;
	display: block;
	margin: 0 auto;
}
#new-mark {
	display: inline;
	font-size: 18px;
	text-transform: uppercase;
	background-color: black;
	color: var(--bg);
	padding: 7px;
	font-weight: 800;
	border-radius: 4px;
	/* text-align:center; */
}
span.bold {
	font-weight: 700;
}

/* Form Section For Posting Blogs */
form.post {
	display: flex;
	flex-direction: column;
}
form.post > label {
	padding: 8px 0px;
	font-size: 24px;
}
form.post > input {
	margin-bottom: 30px;
	padding: 10px;
}

form.post textarea {
	margin-bottom: 30px;
	padding: 15px;
	font-size: 20px;
	font-weight: normal;
}
.button {
	padding: 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	max-width: 30%;
}
.button.dark {
	background-color: black;
	color: white;
}
.long {
	height: 300px;
}

/* Comment Related CSS */

/* Comment Form */
.comment__profile_icon {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin-right: 14px;
}
.comment > form {
	width: 100%;
	background: var(--bg);
}

.comment__input,
.comment__card {
	padding: 10px;
	width: 100%;
	height: 100%;
	border-radius: 7px;
	background-color: #f8f8ee;
	font-size: 18px;
	outline: none;
	border: 2px solid #221e1f;
	/* transition: height .25s ease-in-out; */
}
.text-light {
	color: #8d8d8d;
	margin-bottom: 10px;
}
.comment {
	display: flex;
	width: 100%;
}
/* User Comments */
.comment__username,
.comment__date {
	display: inline;
	width: auto;
}
.comment__username {
	font-size: 18px;
	font-weight: bold;
	margin-right: 5px;
}
.comment__date {
	font-size: 13px;
	color: #8d8d8d;
}
.comment__card {
	padding: 22px 0px 22px 18px;
	width: 100%;
}
.comment__wrapper {
	display: flex;
	margin: 40px 0px;
}
.comment__body {
	margin: 10px 0px 0px 0px;
	font-size: 14px;
}
#comment__submit {
	width: 118px;
	padding: 10px 0px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	margin: 7px 0px;
	background-color: black;
	border: none;
	display: none;
	border-radius: 7px;
}

/* Hover for comment input to reveal submit */
.comment__input--open {
	height: 200px;
}

/* Post Paragraph */
.post__p {
	white-space: pre-line;
}

/* User profile style */
.menu {
	justify-content: center;
	display: grid;
	grid-template-areas: ". notifcations" ". notifcations";
	grid-template-columns: 1.7fr 1fr;
	grid-template-rows: 400px 300px;
	color: white;
	grid-gap: 13px;
}
.card {
	width: 100%;
	height: 100%;
	color: white;
	border-bottom: 25px solid var(--accent);
	background-color: #02070e;
}
.card__profile {
	/* background-color: orange; */
	padding: 80px 30px;
	position: relative;
}
.card__profile_icon {
	display: block;
	position: absolute;
	top: -70px;
	right: 0;
	left: 0;
	height: 140px;
	width: 140px;
	border-radius: 100%;
	margin: 0 auto;
	border: 10px solid var(--bg);
}
.card__button {
	background-color: var(--accent);
	outline: none;
	border: none;
	padding: 10px 26px;
	color: white;
	font-weight: bold;
	border-radius: 6px;
}
.card__button-right {
	position: absolute;
	right: 20px;
	top: 20px;
	color: red;
}
.card__button a {
	color: white;
}
.card__profile_data {
	text-align: center;
	/* border: 1px solid white; */
	max-width: 65%;
	display: block;
	margin: 0 auto;
}
.card__text {
	font-size: 18px;
	margin: 0;
}
.card__text-small {
	font-size: 14px;
	display: inline;
}
.card__text-date {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.658);
	display: inline;
	margin: 0 8px;
}
.card__text-orange {
	color: var(--accent);
	margin: 10px 0px;
}
.card__username {
	margin: 0px 0px;
	font-size: 25px;
	/* line-height: 2.5em; */
}
.card__profile_stats {
	position: absolute;
	display: flex;
	bottom: 0;
	left: 0;
	height: 100px;
	width: 100%;
	border-top: 1px solid white;
	justify-content: space-around;
	padding: 0px 20px;
}

/* Stat information */
.stat {
	margin: 0px 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.stat__icon {
	max-width: 21px;
	margin-right: 10px;
}
.stat__text {
	color: white;
	font-size: 15px;
	vertical-align: center;
}
span.orange {
	color: var(--accent);
}

/* Comment Card */
.card__comments {
	padding: 10px 45px;
	position: relative;
	overflow-y: scroll;
}
.card__comment {
	margin-bottom: 23px;
}
.card__heading {
	color: var(--accent);
}
.card__comment_title {
	font-size: 16px;
	margin: 0;
	line-height: 1.4em;
}

/* Notifcations Card */
.card__notifcations {
	/* background-color: tomato; */
	grid-area: notifcations;
	padding: 0px 20px;
}

.alert {
	display: flex;
	margin-bottom: 23px;
}
.alert__title {
	font-size: 18px;
}
.alert__body {
	font-size: 12px;
	display: inline;
}
.alert__profile_icon {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	margin-right: 10px;
}

/* Edit CSS */
.form {
	display: flex;
	flex-flow: column;
	max-width: 50%;
	margin: 0 auto;
}
.form__label {
	color: rgb(255, 255, 255);
	line-height: 2em;
}
.form__input {
	padding: 10px;
	margin-bottom: 23px;
	border-radius: 8px;
}
.card__edit {
	padding: 80px 30px;
	position: relative;
}
/* Scrollbar */
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: rgba(46, 46, 46, 0.171);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(0, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #fa9053f6;
}
