@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
	background-color: #fffff6;
	font-family: Inter, sans-serif;
}
:root {
	--text-color: red;
	--bg: #fffff6;
	--section-padding: 30px;
}

/* GLobal CLass Values */
.container {
	display: block;
	max-width: 650px;
	margin: 0 auto;
}
.large-heading {
	font-size: 40px;
}
.center-text {
	text-align: center;
}
a {
	text-decoration: none;
	color: black;
}
.text-block {
	font-size: 20px;
	display: inline;
	font-weight: 900;
	text-transform: uppercase;
}
h1 {
	font-size: 60px;
	text-transform: capitalize;
	margin: 30px 0px;
}
h2 {
	font-size: 32px;
	font-weight: 800px;
	margin: 20px 0px;
	text-transform: capitalize;
}
h4 {
	font-weight: 400;
	font-size: 20px;
	margin: 0;
}
p {
	font-size: 24px;
	font-weight: 400;
}

/* Nav Section CSS */
nav {
	margin: var(--section-padding) 0;
}
.nav-wrapper {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.nav ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	/* flex-grow: 1; */
}
.nav-wrapper .active-link {
	background-color: black;
	border-radius: 10px;
	padding: 10px;
	margin-right: 10px;
}
.active-link > a {
	color: var(--bg);
	text-align: center;
}
.nav-wrapper > ul > li {
	display: inline;
	padding-right: 20px;
	font-weight: 800;
	font-size: 18px;
	transition: 250ms opacity;
}
.nav li:hover {
	animation-delay: 300ms;
	opacity: 60%;
}

.logo {
	max-width: 50px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.profile-wrapper {
	position: relative;
	display: flex;
	align-items: center;
}
#profile-image {
	width: 45px;
	height: 45px;
	background-color: black;
	border-radius: 100%;
}
/* Navbar Dropdown */
.profile-dropdown {
	background-color: #221e1f;
	/* Explict height must be set to avoid animation breaking during spamming. */
	height: 145px;
	position: absolute;
	display: none;
	right: 0;
}
.profile-image-wrapper {
	/* border-radius: 100%; */
	position: relative;
	margin-left: 15px;
}
.profile-dropdown {
	padding: 20px 0px;
	padding-right: 50px;
	border-radius: 5px;
}
.dropdown__item {
	color: white;
	padding: 12.5px 0px;
	text-transform: capitalize;
	list-style-type: none;
}
.dropdown__item-active {
	border-left: 2.5px solid rgb(15, 222, 230);
}
.dropdown__item a {
	color: white;
	text-decoration: none;
	margin-left: 15px;
}
/* Heading blog post section */
.heading-wrapper {
	margin: 100px 0px;
	transition: 250ms opacity;
}
.heading-wrapper:hover {
	animation-delay: 300ms;
}
.first {
	margin-bottom: 100px;
}
.title-image {
	max-width: 500px;
	display: block;
	margin: 0 auto;
}
#new-mark {
	display: inline;
	font-size: 18px;
	text-transform: uppercase;
	background-color: black;
	color: var(--bg);
	padding: 7px;
	font-weight: 800;
	border-radius: 4px;
	/* text-align:center; */
}
span.bold {
	font-weight: 700;
}

/* Form Section For Posting Blogs */
form.post {
	display: flex;
	flex-direction: column;
}
form.post > label {
	padding: 8px 0px;
	font-size: 24px;
}
form.post > input {
	margin-bottom: 30px;
	padding: 10px;
}

form.post textarea {
	margin-bottom: 30px;
	padding: 15px;
	font-size: 20px;
	font-weight: normal;
}
.button {
	padding: 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	max-width: 30%;
}
.button.dark {
	background-color: black;
	color: white;
}
.long {
	height: 300px;
}
